version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: MS_Users
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=MS_Users
      - DB_USER=postgres
      - DB_PASSWORD=admin1234
      - SECRET_KEY=django-insecure-!s-q*$a50*55puwj0bzyr-#_)1=6j=^0r@uk)c3o3*$-yb4^h*

volumes:
  postgres_data:
